.game {
    display: flex;
    justify-content: space-around;
}

.board {
    min-width: 400px;
}

.row {
    display: flex;
    list-style: none;
    border: solid;
    justify-content: space-around;
}

.cell {
    border: solid;
    width: 100%;
    display: flex;
    justify-content: inherit;
}