body {
    /* background-color: #f2eecb; */
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
}
.game {
    display: flex;
    justify-content: space-around;
}

.board {
    /* min-width: 400px; */
}

.row {
    display: flex;
    list-style: none;
    /* border: solid blue 2px; */
    border-top: solid blue 2px;
    border-left: solid blue 2px;
    justify-content: space-around;
}

#last {
    border-bottom: solid blue 2px;   
}

.cell {
    min-height: 50px;
    min-width: 50px;
    border-right: solid blue 2px;
    width: 100%;
    display: flex;
    justify-content: inherit;
}

.missed {
    background-color: rgb(212, 66, 66);
    width: 100%;
}

.hidden {
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
    /* background-color: #f2eecb; */
    width: 100%;
}

.strike {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
    width: 100%;
}

.ship {
    font-size: xx-large;
}

